.relative{
    width: 400px;
    border: 3px solid greenyellow;
    position: relative;
    height: 300px;
}

.absolute{
    width: 200px;
    border: 3px solid #8b20bb;
    position: absolute;
    height: 100px;
    top: 100px;
    right: 20px;
}

.overlap img{
    position: absolute;
    left: 0;
    top: 0px;
    z-index: -1;        
}

.overlap{
    position: relative;
}

.overlap p{
    width: 400px;
    font-size: 20px;
    color: #ff2000;
    font-weight: bold;
    text-align: justify;
    position: absolute;
    top: 166px;
    left: 40px;
}